{% extends 'base1.html' %}
{% load static %}
{% block title %}about{% endblock title %}home
{% block body %}

</head>
<body>
  


<main>
<section class="py-2 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">WHO WE ARE:</h1>
      <p class="lead text-muted">
        Our Mission Is To Provide A House To Public According To There Dream House.
    </p>
      <p class="lead text-muted">
        And We Believe That Good Design Is Powerful Hard Work Is Essential ,And Exploring The Unknown Is Important.
    </p>
    </div>
  </div>
</section>

<div class="album pb-5  bg-light">
  <div class="container">
      <h1 class="text-center get-know py-3">Get To Know Us</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm pt-3">
            <i class="fa leadership fa-group" style="font-size:36px"></i>
            <h1>LEADERSHIP</h1>
          <div class="card-body">
            <p class="card-text">Our multicultural leaders have
                deep start-up and enterprise
                experience, with rich mobile and
                data expertise.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm pt-3">
            <i class="fa fa-graduation-cap"></i>
            <h1>CAREERS</h1>
          <div class="card-body">
            <p class="card-text">We take great pride in our market
                leadership position etc, and thanks to the
                hard work of our incredibly
                talented.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm pt-3">
            <i class="fa fa-handshake-o"></i>
            <h1>PARTNERSHIPS</h1>
          <div class="card-body">
            <p class="card-text">From research, to events, to
                platform partnerships, we work
                with thought leaders to provide
                more actionable data.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</main>

{% endblock body%}