{% extends 'base.html' %}
{% load static %}
{% block title %}company Certification{% endblock title %}home
{% block body %}

<section class="py-2 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Company Certification</h1>
        <p class="lead text-muted">
            Our company offers a variety of services to meet your project's needs, to take you from collaboration
            meetings all the way to ribbon-cutting and beyond. We believe that every project is unique, and can
            customize our approach to fit your particular project.
      </p>

      </div>
    </div>
  </section>
<div class="album pb-5  bg-light">
    <div class="container">
        <!-- <h1 class="text-center get-know py-3">Get To Know Us</h1> -->
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm py-3">
            <i class="fa fa-building-o"></i>
              <h1>Healthcare Building</h1>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus ullam odio quae voluptatum error. Maiores, dignissimos culpa! Provident, dicta rerum?</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm py-3">
            <i class='fa fa-institution'></i>
              <h1>Education Building</h1>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis optio libero placeat aspernatur sapiente? Ipsa eum atque minima accusamus doloribus.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm py-3">
            <i class="fa fa-building"></i>
              <h1>Government Building</h1>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dolore possimus est! Perspiciatis provident, harum repudiandae earum est perferendis molestiae.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm py-3">
              <i class="fa fa-institution"></i>
              <h1>Commercial Building</h1>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dolore possimus est! Perspiciatis provident, harum repudiandae earum est perferendis molestiae.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm py-3">
              <i class="fa fa-building-o"></i>
              <h1>Residential Building</h1>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dolore possimus est! Perspiciatis provident, harum repudiandae earum est perferendis molestiae.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm py-3">
              <i class="fa fa-cutlery"></i>
              <h1>Restaurant Building</h1>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dolore possimus est! Perspiciatis provident, harum repudiandae earum est perferendis molestiae.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}